# Objects

{% for object in objects %}
## <a id="{{ object.anchor }}"></a>{{ object.name }}

| Property   | Type       | Required | Description | Reference |
|------------|------------|-----|-------------|-----------|
{% for property in object.properties.values() -%}
| {{ property.name }} | `{{ property.type }}` | `{{ property.required }}` | {{ property.description }} | {% if property.reference %}[{{ property.reference }}](#{{ property.reference }}){% endif %} |
{% endfor %}
{% endfor %}

# Enums
{% for enumeration in enumerations %}
## <a id="{{ enumeration.anchor }}"></a>{{ enumeration.name }}
{% for value in enumeration.enum_values %}
- `{{ value }}`
{% endfor %}
{% endfor %}